/*****************************
*	General
*****************************/
body {
	background-color: #ffffff;
	color: #050a0d;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
}
a, a:active, a:focus {
	color: inherit;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
img {
	max-width: 100%;
}
/*****************************
*	Header
*****************************/
header {
	background-color: #ffffff;
}
#logo {
	float: left;
	margin: 0;
	padding: 27px 0;
	position: relative;
	z-index: 0;
}
#logo a, #logo img {
	display: block;
}
#logo::before {
	background-color: #050a0d;
	content: '';
	display: block;
	height: 10px;
	position: absolute;
	right: 0;
	top: 0;
	width: 100vw;
	z-index: -1;
}
/**** nav ****/
header nav {
	float: right;
	margin: 30px 0;
	text-align: right;
}
header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
header nav ul li {
	display: inline-block;
	position: relative;
}
header nav > ul > li > a,
header nav > ul > li > span {
	display: inline-block;
	font-size: 0.938em;
	font-weight: 400;
	line-height: 1;
	margin: 0 20px;
	padding: 12px 0;
	position: relative;
	text-decoration: none;
	z-index: 0;
}
header nav ul li:last-child a {
	margin-right: 0;
}
header nav ul li a.cta-button {
	color: #ffffff;
	margin: 0 6px;
	padding: 10px 16px;
	transition: color 200ms ease-in-out 50ms;
}
header nav > ul > li > a:not(.cta-button)::after {
	background-color: #050a0d;
	bottom: 0;
	content: '';
	cursor: pointer;
	display: block;
	height: 3px;
	left: 0;
	opacity: 0;
	position: absolute;
	transition: opacity 200ms ease-in-out 50ms;
	width: 100%;
	z-index: -1;
}
header nav > ul > li:hover > a:not(.cta-button)::after,
header nav > ul > li > a.current:not(.cta-button)::after {
	opacity: 1;
}
header nav ul li a.cta-button::after {
	background-color: rgba(5,10,13,1);
	border: 2px solid #050a0d;
	border-radius: 30px;
	content: '';
	cursor: pointer;
	height: 38px;
	left: 0;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	transition: background-color 200ms ease-in-out 50ms;
	z-index: -1;
}
header nav ul li a.cta-button:hover {
	color: #050a0d;
}
header nav ul li a.cta-button:hover::after {
	background-color: rgba(5,10,13,0);
}
header nav ul li > ul {
	box-sizing: border-box;
	display: block;
	opacity: 0;
	padding: 28px 12px 16px;
	position: absolute;
	text-align: left; 
	transition: opacity 200ms ease-in-out 50ms, top 0ms linear 50ms;
	top: -1000000px;
	width: 220px;
	z-index: 1;
}
header nav ul li > ul::before {
	background-color: #050a0d;
	bottom: 0;
	content: '';
	display: block;
	left: 0;
	position: absolute;
	top: 12px;
	width: 100%;
	z-index: -1;
}
header nav ul li:hover > ul {
	opacity: 1;
	top: auto;
}
header nav ul li li {
	display: block;
}
header nav ul li li a,
header nav ul li li > span {
	color: #ffffff;
	display: block;
	font-size: 0.875em;
	font-weight: 400;
	margin: 0;
	opacity: 0;
	padding: 6px 12px;
	text-decoration: none;
	transform: translateY(5px);
	transition: opacity 300ms ease-in-out 50ms, transform  300ms ease-in-out 50ms;
	z-index: 0;
}
header nav ul li:hover li a,
header nav ul li:hover li > span {
	opacity: 1;
	transform: translateY(0);
}
header nav ul li li > span.menu-title {
	color: rgba(255,255,255,.5);
	font-size: .725em;
	text-transform: uppercase;
}
header nav ul li li a::after {
	background-color: #ffffff;
	border-radius: 2px;
	bottom: 0;
	content: '';
	cursor: pointer;
	display: block;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity 200ms ease-in-out 50ms;
	z-index: 0;
}
header nav ul li li a:hover::after {
	opacity: .125;
}
/*****************************
*	General Layout
*****************************/
section {
	overflow: hidden;
}
.light-skin {
	background-color: #ffffff;
	color: #050a0d;
}
.dark-skin {
	background-color: #050a0d;
	color: #ffffff;
}
.hero {
	padding-bottom: calc(10vh + 20px);;
	padding-top: calc(14vh + 20px);;
}
.row-reduced {
	margin: auto;
	max-width: calc(100% - 160px);
}
.highlighted-box {
	position: relative;
	z-index: 0;
}
.highlighted-box.highlighted-right {
	padding-right: 60px;
}
.highlighted-box::after {
	background-color: #9eadb4;
	border-radius: 3px;
	content: '';
	display: block;
	height: 100%;
	opacity: .2;
	position: absolute;
	top: 0;
	z-index: -1;
}
.highlighted-box.highlighted-right::after {
	left: -100vw;
	right: 20px;
}
.thumb-box {
	border-radius: 3px;
	overflow: hidden;
	padding-top: 64.28%;
	position: relative;
	width: 100%;
}
.thumb-box img {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
}
/*****************************
*	Script
*****************************/
.onscroll-elem {
	opacity: 0;
	transform: translate3d(0,10px,0);
	transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}
.onscroll-elem.from-left {
	transform: translate3d(-10px,0,0);
}
.onscroll-elem.nth-child-2 {
	transition: opacity 500ms ease-in-out 150ms, transform 500ms ease-in-out 150ms;
}
.onscroll-elem.nth-child-3 {
	transition: opacity 500ms ease-in-out 300ms, transform 500ms ease-in-out 300ms;
}
.onscroll-elem.in-view {
	opacity: 1;
	transform: translate3d(0,0,0);
}
.hidden {
	display: none;
}
/*****************************
*	Tipografia
*****************************/
h2 {
	font-family: 'Crimson Text', serif;
	font-size: 52px; 
	line-height: 1.25;
	margin-bottom: .5em;
	margin-top: .5em;
}
h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 40px; 
	font-weight: 300;
	line-height: 1.25;
	margin-bottom: .5em;
	margin-top: .5em;
}
h4 {
	font-family: 'Raleway', sans-serif;
	font-size: 26px; 
	font-weight: 300;
	line-height: 1.25;
	margin-bottom: .5em;
	margin-top: .5em;
}
[class^="py-"] h2:first-child, [class*=" py-"] h2:first-child, [class^="pt-"] h2:first-child, [class*=" pt-"] h2:first-child,
[class^="py-"] h3:first-child, [class*=" py-"] h3:first-child, [class^="pt-"] h3:first-child, [class*=" pt-"] h3:first-child,
[class^="py-"] h4:first-child, [class*=" py-"] h4:first-child, [class^="pt-"] h4:first-child, [class*=" pt-"] h4:first-child {
	margin-top: 0;
}
.underlined {
	padding-bottom: .25em;
	position: relative;
}
.underlined::after {
	background-color: #050a0d;
	bottom: -0.15em;
	content: '';
	display: block;
	height: 1px;
	left: 0;
	opacity: .25;
	position: absolute;
	width: 80px;
}
.dark-skin .underlined::after {
	background-color: #ffffff;
	opacity: .5;
}
#intro h2 {
	font-size: 80px;
	font-weight: 400;
	line-height: 1;
}
.cite::before {
	background-color: #050a0d;
	content: '';
	display: inline-block;
	height: 2px;
	margin-right: 20px;
	opacity: .2;
	vertical-align: middle;
	width: 70px;
}
/*****************************
*	UI
*****************************/
.forward {
	color: #9eadb4;
	font-weight: 700;
	font-size: .85em;
	text-decoration: none;
	text-transform: uppercase;
}
.forward::after {
	content: '\6d';
	display: inline-block;
	font-family: 'dripicons-v2';
	font-size: .875em;
	margin-left: .5em;
	vertical-align: text-top;
	text-transform: none;
	width: 1em;
}
/*****************************
*	Tags
*****************************/
.tag-highlight {
	text-decoration: none;
	transition: border 200ms ease-in-out 15ms;
}
.tag-highlight:hover {
	border-bottom: 1px dashed transparent !important;
}
.dark-skin .tag-highlight {
	border-bottom: 1px dashed rgba(255,255,255,0.5);
}
.light-skin .tag-highlight {
	border-bottom: 1px dashed rgba(5,10,13,0.5);
}
.persona::before {
	content: '\e056';
	display: inline-block;
	font-family: 'dripicons-v2';
	font-size: .65em;
	margin-right: .5em;
	opacity: .75;
	text-transform: none;
	vertical-align: middle;
	width: 1em;
}
/*****************************
*	Layout pagine
*****************************/
/* Home Page */
#timeline {
	background-image: url(../images/leopardi-hero.jpg);
	background-position: 50%;
	background-repeat: no-repeat;
}
#timeline-box {
	margin-bottom: 20px;
	min-height: 380px;
	position: relative;
	z-index: 0;
}
#timeline-box::after {
	background-color: #ffffff;
	bottom: 0;
	content: '';
	display: block;
	height: 1px;
	left: 20px;
	opacity: .5;
	position: absolute;
	right: 20px;
	z-index: -1;
}
#timeline-box .timeline-point {
	bottom: 11px;
	display: block;
	position: absolute;
	transform: translate3d(-50%, 100%, 0);
}
#timeline-box .timeline-point a {
	text-decoration: none;
}
#timeline-box .timeline-point::before {
	background-color: #ffffff;
	border-radius: 50%;
	content: '';
	display: block;
	height: 25px;
	left: calc(50% - 1px);
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: -20px;
	transition: opacity 300ms ease-in-out;
	width: 1px;
	z-index: -1;
}
#timeline-box .timeline-point.active::before {
	opacity: .5;
}
#timeline-box .timeline-point::after {
	background-color: #ffffff;
	border-radius: 50%;
	content: '';
	display: block;
	height: 11px;
	left: 50%;
	position: absolute;
	top: 5px;
	transform: translateX(-50%);
	width: 11px;
	z-index: -1;
}
#timeline-box .timeline-point a span {
	display: block;
	padding-top: 30px;
}
#timeline-box .timeline-point[data-time="start"] {
	left: 20px;
}
#timeline-box .timeline-point[data-time="end"] {
	right: 20px;
}
#timeline-box .timeline-point[data-time="1831"] {
	left: 33%
}
#timeline-box .timeline-point[data-time="1835"] {
	left: 50%;
}
#timeline-box .timeline-point[data-time="1845"] {
	right: 20%;
}
#timeline-box .box-edizione {
	bottom: 30px;
	position: absolute;
	z-index: 0;
}
#timeline-box .box-edizione > span {
	padding-bottom: 20px;
}
#timeline-box .box-edizione > span::after {
	background-color: #fdb27b;
	bottom: 0;
	content: '';
	display: block;
	height: 3px;
	left: 0;
	position: absolute;
	right: 0;
	z-index: -1;
}
#timeline-box .box-edizione[data-time-trigger="1835"] > span::after {
	background-color: #b3da67;
}
#timeline-box .box-edizione[data-time-trigger="1845"] > span::after {
	background-color: #6fbcc0;
}
#timeline-box .edizione-img {
	width: 40%;
}
#timeline-box .edizione-info {
	max-width: calc(60% - 20px);
	padding-left: 20px;
}
#timeline-box .box-edizione[data-time-trigger="1831"] {
	left: calc(33% - 20px);
	transform: translateX(-50%);
}
#timeline-box .box-edizione[data-time-trigger="1835"] {
	left: calc(50% - 20px);
	transform: translateX(-50%);
}
#timeline-box .box-edizione[data-time-trigger="1845"] {
	right: calc(20% - 20px);
	transform: translateX(50%);
}
#progetto-desc .row {
	position: relative;
}
#recanati-biblio {
	background-image: url(../images/recanati-biblioteca.jpg);
	background-size: cover;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	bottom: 0;
	position: absolute;
	right: calc(-50vw - 20px);
	top: 0;
	width: calc(66.666667% + 50vw);
}
/*****************************
*	Forms
*****************************/
form {
	width: 100%;
}
label.wrap-submit {
	background-color: #ffffff;
	border: 1px solid rgba(158,173,180,0.5);
	border-radius: 3px;
	display: flex;
	padding: 3px;
	width: 100%;
}
label.wrap-submit input[type="text"] {
	background: transparent;
	border: 0;
	color: #050a0d;
	flex: 1;
	font-family: 'Raleway', sans-serif;
	font-size: .9em;
	line-height: 30px;
	outline: 0 !important;
	padding-right: 10px;
	text-indent: 10px;
}
label.wrap-submit input[type="submit"] {
	background-color: #9eadb4;
	border: 0;
	border-radius: 2px;
	color: #ffffff;
	cursor: pointer;
	font-weight: 700;
	font-size: .725em;
	line-height: 30px;
	outline: 0 !important;
	padding: 0 16px;
	text-decoration: none;
	text-transform: uppercase;
}