/*****************************
*	Header
*****************************/
header {
	background: #000000;
	padding: 25px;
}
/*****************************
*	General Layout
*****************************/
.limit-width {
	margin: auto;
	max-width: 1366px;
}