/*****************************
*	General
*****************************/
body {
	background-color: #ffffff;
	color: #050a0d;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	margin: 0;
}
* {
	outline: none !important;
}
a {
	color: inherit;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
img {
	max-width: 100%;
}
ul {
	padding: 0 0 0 1.15em;
}
li:not(:first-child) {
	margin-top: .2em;
}
a.ui {
	text-decoration: none;
}
a.ui:hover {
	text-decoration: underline;
}
a.ui i.icon {
	font-size: 1.275em;
	display: inline-block;
	margin-right: .375em;
	vertical-align: sub;
}
.side-link {
	display: block;
	margin-bottom: 1em;
}
hr {
	background-color: rgba(158,173,180,0.2);
	border: 0;
	height: 2px;
	margin: 2em 0;
	width: 100%;
}
code {
	font-family: "Courier New", Courier, monospace;
}
iframe.fluid {
	border: 0;
	width: 100% !important;
}
table {
	border: 0;
	border-collapse: separate;
    border-spacing: 1px 0;
    width: 100%;
}
table + table {
	margin-top: 1em;
}
table tr {
	padding-bottom: 1px;
}
table th[colspan="2"],
table thead th {
	background-color: #ffffff !important;
	border-bottom: 2px solid rgba(158,173,180,0.2);
	color: #9eadb4;
	font-variant: small-caps;
	text-align: left;
	text-transform: lowercase;
}
table tr:nth-child(odd) th,
table tr:nth-child(odd) td {
	background-color: rgba(158,173,180,0.2);
}
table th,
table td {
	margin: 0;
	padding: 0.75em 1em;
	vertical-align: top;
}
table th {
	font-weight: 700;
	width: 180px;
}
table td {
	border: 0;
}
table th + td:last-child {
	min-width: 300px;
}
table td i.icon {
	font-size: .75em;
}
table ul:first-child {
	margin-top: 0;
}
table ul:last-child {
	margin-bottom: 0;
}
table tbody tr:nth-child(even):last-child th,
table tbody tr:nth-child(even):last-child td {
    border-bottom: 2px solid rgba(158,173,180,0.2);;
}
table tbody th {
	text-align: left;
}
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}
/*****************************
*	Header
*****************************/
header {
	background-color: #ffffff;
}
#logo {
	float: left;
	margin: 0;
	padding: 27px 0;
	position: relative;
	z-index: 0;
}
#logo a, #logo img {
	display: block;
}
#logo::before {
	background-color: #050a0d;
	content: '';
	display: block;
	height: 10px;
	position: absolute;
	right: 0;
	top: 0;
	width: 100vw;
	z-index: -1;
}
/**** nav ****/
header nav {
	float: right;
	margin: 30px 0;
	text-align: right;
}
header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
header nav ul li {
	display: inline-block;
	position: relative;
}
header nav > ul > li > a,
header nav > ul > li > span {
	display: inline-block;
	font-size: 0.938em;
	line-height: 1;
	margin: 0 12px;
	padding: 12px 0;
	position: relative;
	text-decoration: none;
	z-index: 0;
}
header nav ul li:last-child a {
	margin-right: 0;
}
header nav ul li a.cta-button {
	color: #ffffff;
	margin: 0 6px;
	padding: 10px 16px;
	transition: color 200ms ease-in-out 50ms;
}
header nav > ul > li > a:not(.cta-button)::after {
	background-color: #050a0d;
	bottom: 0;
	content: '';
	cursor: pointer;
	display: block;
	height: 3px;
	left: 0;
	opacity: 0;
	position: absolute;
	transition: opacity 200ms ease-in-out 50ms;
	width: 100%;
	z-index: -1;
}
header nav > ul > li:hover > a:not(.cta-button)::after,
header nav > ul > li > a.current:not(.cta-button)::after {
	opacity: 1;
}
header nav ul li a.cta-button::after {
	background-color: rgba(5,10,13,1);
	border: 2px solid #050a0d;
	border-radius: 30px;
	content: '';
	cursor: pointer;
	height: 38px;
	left: 0;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	transition: background-color 200ms ease-in-out 50ms;
	z-index: -1;
}
header nav ul li a.cta-button:hover,
header nav ul li a.cta-button.current {
	color: #050a0d;
}
header nav ul li a.cta-button:hover::after,
header nav ul li a.cta-button.current::after {
	background-color: rgba(5,10,13,0);
}
header nav ul li > ul {
	box-sizing: border-box;
	display: block;
	opacity: 0;
	padding: 28px 12px 16px;
	position: absolute;
	text-align: left; 
	transition: opacity 200ms ease-in-out 50ms, top 0ms linear 50ms;
	top: -1000000px;
	width: 220px;
	z-index: 1;
}
header nav ul li > ul::before {
	background-color: #050a0d;
	bottom: 0;
	content: '';
	display: block;
	left: 0;
	position: absolute;
	top: 12px;
	width: 100%;
	z-index: -1;
}
header nav ul li:hover > ul {
	opacity: 1;
	top: auto;
}
header nav ul li li {
	display: block;
	margin: 0 !important;
}
header nav ul li li a,
header nav ul li li > span {
	color: #ffffff;
	display: block;
	font-size: 0.875em;
	margin: 0;
	opacity: 0;
	padding: 6px 12px;
	text-decoration: none;
	transform: translateY(5px);
	transition: opacity 300ms ease-in-out 50ms, transform  300ms ease-in-out 50ms;
	z-index: 0;
}
header nav ul li:hover li a,
header nav ul li:hover li > span {
	opacity: 1;
	transform: translateY(0);
}
header nav ul li li > span.menu-title {
	color: rgba(255,255,255,.5);
	font-size: .725em;
	text-transform: uppercase;
}
header nav ul li li a::after {
	background-color: #ffffff;
	border-radius: 2px;
	bottom: 0;
	content: '';
	cursor: pointer;
	display: block;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity 200ms ease-in-out 50ms;
	z-index: 0;
}
header nav ul li li a:hover::after {
	opacity: .125;
}
/*****************************
*	General Layout
*****************************/
aside {
	font-size: .9em;
}
aside > div,
aside .sticky > div {
	margin-bottom: 2em;
}
aside > img:first-child,
aside .sticky > img:first-child,
body.edizioni aside .gallery a:first-child > img {
	border-radius: 3px;
	box-shadow: 0 5px 20px rgba(1,1,1,.1);
	margin: 2em 0;
}
.aside-box:not(:last-child) {
	border-bottom: 2px solid rgba(158, 173, 180, 0.35);
	padding-bottom: 1em;
}
.aside-box > h6 {
	margin-bottom: 1em;
}
.aside-box ul {
	list-style: none;
}
.aside-box ul.plain,
ul.temi-tag {
	padding-left: 0;
}
.aside-box ul:not(.plain):not(.temi-tag) li::before {
	content: 'V';
	font-family: 'dripicons-v2';
	font-size: .8em;
	margin: 0 .25em 0 -1em;
	vertical-align: middle;
}
.aside-box ul li a:first-child {
	text-decoration: none;
	transition: opacity 150ms ease-in-out;
}
.aside-box ul li a.fade {
	opacity: .35;
}
.aside-box ul li a:first-child:hover {
	text-decoration: underline;
}
ul.temi-tag li {
	display: inline-block;
}
ul.temi-tag li a {
	background-color: rgba(158,173,180,.2);
	border: 2px solid rgba(158,173,180,0);
	border-radius: 20px;
	display: block;
	font-size: .95em;
	margin: 0 2px 5px 0;
	padding: 2px 8px;
	text-decoration: none;
	text-transform: capitalize;
	transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out !important;
}
ul.temi-tag li a:hover {
	background-color: rgba(158,173,180,0);
	border: 2px solid rgba(158,173,180,.2);
	text-decoration: none !important;
}
footer {
	background-image: url(../images/footer-bg.jpg);
	background-size: cover;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	color: rgba(255,255,255,.75);
	font-size: .825em;
	margin-top: 4em;
	padding: calc(5vh + 2.25rem) 0;
}
.home footer {
	margin-top: 0;
}
.light-skin {
	background-color: #ffffff;
	color: #050a0d;
}
.dark-skin {
	background-color: #050a0d;
	color: #ffffff;
}
.light-grey {
	background-color: rgba(158,173,180,0.2);
}
.hero {
	padding-bottom: calc(10vh + 20px);;
	padding-top: calc(10vh + 20px);;
}
.hero > div {
	overflow: hidden;
}
.title-hero {
	background-image: url(../images/leopardi-hero.jpg);
	background-position: 50%;
	background-repeat: no-repeat;
}
.highlighted-box {
	position: relative;
	z-index: 0;
}
.highlighted-box.highlighted-right {
	padding-right: 60px;
}
.highlighted-box::after {
	background-color: #9eadb4;
	border-radius: 3px;
	content: '';
	display: block;
	height: 100%;
	opacity: .2;
	position: absolute;
	top: 0;
	z-index: -1;
}
.highlighted-box.highlighted-right::after {
	left: -33vw;
	right: 20px;
}
.thumb-box {
	border-radius: 3px;
	overflow: hidden;
	padding-top: 64.28%;
	position: relative;
	width: 100%;
}
.thumb-box img {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
}
.poem {
	font-family: 'Crimson Text', serif;
	font-size: 1.875em;
	line-height: 1.4;
	min-height: 400px;
	padding-bottom: 2em;
	padding-top: 1em;
	position: relative;
}
.poem .stanza {
	position: relative;
	z-index: 0;
}
.poem .line {
	background-color: #ffffff;
	display: inline-block;
	max-width: calc(74% - 20px);
	padding: 0 20px 0 100px;
	text-indent: -20px;
}
.poem .line.active {
	background-color: #ffffff;
}
.poem .line[data-step]::before {
	display: block;
	font-size: 0.667em;
	left: 0;
	line-height: 2.3;
	opacity: .35;
	position: absolute;
	text-indent: 0;
	width: 60px;
}
.poem .page-break {
	border-color: rgba(158,173,180,0.35);
	border-bottom-style: dashed;
	border-bottom-width: 2px;
	color: #9eadb4;
	display: block;
	font-family: 'Crimson Text', serif;
	font-size: .95rem;
	font-style: italic;
	height: 0;
	margin: 1em 0;
	position: relative;
	width: 100%;
}
.poem .page-break .page-above {
	position: absolute;
	right: 1em;
	top: -1.5em;
}
.poem .page-break .page-below {
	position: absolute;
	right: 1em;
	bottom: -1.5em;
}
.poem span[data-vars] {
	position: relative;
}
.poem .line span[data-vars] {
	border-right: 2px solid #ffffff;
}
.poem span[data-vars] .line[data-step]::before {
	font-size: 0.585em;
}
.poem span[data-vars] .line[data-step*="add@place="]::before {
	top: 0.2em;
}
.poem span[data-vars] .line[data-step*="add@place="] [data-var] {
	color: rgba(5,10,13,0.5);
	font-size: .825em;
	font-style: italic;
}
.poem span[data-vars] .line[data-step*="add@place="] [data-var]::before {
	color: rgba(5,10,13,0.25);
	font-family: 'dripicons-v2';
	font-size: .625em;
	font-style: normal;
	margin-left: -1em;
	text-transform: none;
}
.poem span[data-vars] .line[data-step="add@place=margin:left"] [data-var]::before {
	content: 'U';
}
.poem span[data-vars] .line[data-step="add@place=margin:right"] [data-var]::before {
	content: 'V';
}
.poem span[data-vars] .line[data-step="add@place=bottom"] [data-var]::before {
	content: 'T';
}
.poem span[data-vars] .line[data-step="add@place=top:opposite"] [data-var]::before {
	content: 'q';
	margin-left: -1.2em;
	padding-right: 0.2em;
}
.poem span[data-vars] .variant-alert {
	cursor: pointer;
	display: block;
	left: 0;
	height: 7px;
	position: absolute;
	top: 0;
	width: 7px;
	z-index: 2;
}
.poem .line span[data-vars] .variant-alert {
	bottom: -3px;
	left: -7px;
	top: auto;
}
section[data-active-var="ms"] .poem span[data-vars] .variant-alert[data-badges*='ms'] {
	display: none;
}
section[data-active-var="1831"] .poem span[data-vars] .variant-alert[data-badges*='1831'] {
	display: none;
}
section[data-active-var="1835"] .poem span[data-vars] .variant-alert[data-badges*='1835'] {
	display: none;
}
section[data-active-var="1845"] .poem span[data-vars] .variant-alert[data-badges*='1845'] {
	display: none;
}
.poem span[data-vars] .variant-alert [data-var-badge] {
	background-color: #6fbcc0;
	border-radius: 50%;
	cursor: pointer;
	display: block;
	height: 7px;
	left: 1px;
	position: absolute;
	top: 0;
	width: 7px;
}
.poem span[data-var] {
	display: none;
	z-index: 0;
}
.poem span[data-var] span[data-var] {
	display: inline;
}
.poem .line span[data-var] {
	background-color: rgba(158,173,180,0.2);
	border-radius: 3px;
	cursor: pointer;
	position: relative;
}
section[data-active-var="ms"] .poem span[data-var*="ms"] {
	display: inline;
}
section[data-active-var="1831"] .poem span[data-var*="1831"] {
	display: inline;
}
section[data-active-var="1835"] .poem span[data-var*="1835"] {
	display: inline;
}
section[data-active-var="1845"] .poem span[data-var*="1845"] {
	display: inline;
}
.poem .show-vars {
	color: initial;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-variant: none;
	font-weight: initial;
	letter-spacing: 0;
	padding-top: 1.4em;
	position: absolute;
	right: 0;
	text-indent: 0;
}
span.show-vars::before {
	background-color: #9eadb4;
	content: '';
	display: block;
	height: 2px;
	left: -230%;
	margin-top: -0.7em;
	opacity: .2;
	position: absolute;
	width: calc(330% - 30px);
	z-index: -1;
}
.poem .close-vars {
	color: #9eadb4;
	cursor: pointer;
	font-family: 'dripicons-v2';
	height: 20px;
	position: absolute;
	right: 0;
	top: calc(0.7em - 10px);
	width: 20px;
}
.poem .close-vars::before {
	content: '9';
	display: block;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	width: 20px;
}
.poem .show-vars [data-show-var] {
	font-size: .95rem;
}
.poem .show-vars .line-var {
	color: #9eadb4;
	font-family: 'Crimson Text', serif;
	font-style: italic;
	position: absolute;
	top: -0.5em;
}
.poem .show-vars .line-var > span {
	font-size: .95rem;
}
.poem .show-vars .var-title,
.poem .show-vars .var-text {
	display: block;
}
.poem .show-vars .var-title {
	color: #9eadb4;
	font-size: .9em;
	font-weight: 700;
	text-transform: uppercase;
}
.poem .show-vars .var-text {
	padding-bottom: 10px;
}
span[data-var-badge] {
	border-radius: 3px;
	display: inline-block;
	height: 6px;
	margin-bottom: 1px;
	margin-right: 2px;
	width: 6px;
}
span[data-var-badge] {
	background-color: #9eadb4 !important;
}
span[data-var-badge="ms"] {
	background-color: #d95369 !important;
}
span[data-var-badge="1824"] {
	background-color: #e378bf !important;
}
span[data-var-badge="1826"] {
	background-color: #8380e2 !important;
}
span[data-var-badge="1831"] {
	background-color: #fdb27b !important;
}
span[data-var-badge="1835"] {
	background-color: #b3da67 !important;
}
span[data-var-badge="1845"] {
	background-color: #6fbcc0 !important;
}
.var-badge-wrap {
	padding-top: 11px;
}
.poem .show-vars span[data-var-badge] {
	border-radius: 2px;
	height: 4px;
	margin-right: 1px;
}
.poem .show-vars span[data-var-badge]:last-child {
	margin-right: 5px;
}
.search-query {
	border-bottom: 2px dashed #d95369;
}
.search-result {
	border-bottom: 1px solid transparent;
}
/*****************************
*	Navigazione e Tools
*****************************/
#filtri-placeholder {
	background-color: #ffffff;
	box-sizing: content-box;
	display: none;
	padding-right: 20px;
	padding-left: 20px;
	position: fixed;
	top: 0;
	z-index: 2;
}
#filtri-placeholder::before {
	background: #ffffff;
	bottom: 0;
	box-shadow: 0 0 10px 0;
	content: '';
	left: 30px;
	opacity: .25;
	position: absolute;
	right: 30px;
	top: 0;
	z-index: -1;
}
#filtri-backplace {
	box-sizing: content-box;
	display: none;
	padding-right: 20px;
	padding-left: 20px;
}
.filtri ul {
	background: #ffffff;
	border-bottom: 2px solid rgba(158, 173, 180, 0.35);
	list-style: none;
	margin: 0;
	padding: 1em 0;
	z-index: 0;
}
.filtri li {
	display: inline-block;
	transition: opacity 150ms ease-in-out;
}
.filtri li:not(.active):not(:hover) {
	opacity: .35;
}
.filtri li:not(:last-child) {
	padding-right: 30px;
}
.filtri a {
	position: relative;
	text-decoration: none;
	z-index: 0;
}
.filtri a::after {
	background: #9eadb4;
	border-radius: 3px;
	content: '';
	display: block;
	height: 5px;
	width: 12px;
	z-index: -1;
}
.filtri li:hover a.var-ms::after,
.filtri li.active a.var-ms::after {
	background-color: #d95369;
}
.filtri li:hover a.var-1831::after,
.filtri li.active a.var-1831::after {
	background-color: #fdb27b;
}
.filtri li:hover a.var-1835::after,
.filtri li.active a.var-1835::after {
	background-color: #b3da67;
}
.filtri li:hover a.var-1845::after,
.filtri li.active a.var-1845::after {
	background-color: #6fbcc0;
}
#breadcrumbs {
	overflow: visible;
	position: relative;
	z-index: 1;
}
#filtri-backplace + #breadcrumbs {
	height: 0;
}
#breadcrumbs ul {
	border-bottom: 2px solid rgba(158, 173, 180, 0.35);
	font-size: .8rem;
	margin-bottom: 0;
	margin-top: .5em;
	padding-bottom: 1em;
	text-align: right;
}
#filtri-backplace + #breadcrumbs ul {
	border-bottom: 0;
}
#breadcrumbs li {
	color: #9eadb4;
	display: inline-block;
	text-transform: lowercase;
}
#breadcrumbs li:not(:last-child)::after {
	content: "\56";
	display: inline-block;
	font-family: 'dripicons-v2';
	line-height: 1;
	padding: 0 .5em;
	text-transform: none;
	vertical-align: middle;
}
#breadcrumbs li a {
	color: inherit;
	text-decoration: none;
}
.pagination {
	border-top: 2px solid rgba(158, 173, 180, 0.35);
	max-width: calc(74% - 20px);
	position: relative;
}
.pagination a {
	font-size: .9em;
	text-decoration: none;
}
.pagination i {
	font-size: 18px;
	padding: 0 0.2em;
	vertical-align: middle;
}
.pagination a.go-to-list {
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}
.pagination a.prev-canto::before {
	content: 'U';
	font-family: 'dripicons-v2';
	opacity: .85;
	padding-right: .35em;
	vertical-align: middle;
}
.pagination a.next-canto::after {
	content: 'V';
	font-family: 'dripicons-v2';
	opacity: .85;
	padding-left: .35em;
	vertical-align: middle;
}
.pagination .page-items {
	list-style: none;
	margin: 0;
	padding: 0;
}
.pagination .page-item {
	display: inline-block;
}
.pagination .page-item a {
	border-radius: 3px;
	display: block;
	line-height: 2;
	text-align: center;
	width: 2em;
}
.pagination .page-item a.current-page {
	background-color: rgba(158,173,180,0.25);
	cursor: text;
	pointer-events: none;
}
.nav.nav-tabs {
	border-bottom: 1px solid rgba(158,173,180,0.25);
	margin-bottom: 1em;
}
.nav.nav-tabs .nav-item {
	border: 1px solid rgba(158,173,180,0.25);
	border-bottom-color: transparent;
	border-radius: 3px 3px 0 0;
	display: inline-block;
	margin: 0 5px -1px 0;
	padding: 0.65em 1em;
	text-decoration: none;
}
.nav.nav-tabs .nav-item.active {
	border-color: transparent;
}
.tab-content .tab-pane:not(.active) {
	display: none;
}
a.collapse {
	text-decoration: none;
}
a.collapse::after {
	content: "\54";
	display: inline-block;
	font-family: 'dripicons-v2';
	font-size: .85em;
	margin-left: .5em;
	vertical-align: text-bottom;
	transition: transform 400ms cubic-bezier(0.16, 1, 0.3, 1);
}
a.collapse.active::after {
	transform: scaleY(-1);
}
ul.collapsible {
	display: none;
	opacity: 0;
	overflow: hidden;
	transition: opacity 400ms cubic-bezier(0.16, 1, 0.3, 1);
}
ul.collapsible.active {
	opacity: 1;
	transition: opacity 400ms cubic-bezier(0.16, 1, 0.3, 1) 400ms;
}
/*****************************
*	Script
*****************************/
.onscroll-elem {
	opacity: 0;
	transform: translate3d(0,10px,0);
	transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}
.onscroll-elem.from-left {
	transform: translate3d(-10px,0,0);
}
.onscroll-elem.nth-child-2 {
	transition: opacity 500ms ease-in-out 150ms, transform 500ms ease-in-out 150ms;
}
.onscroll-elem.nth-child-3 {
	transition: opacity 500ms ease-in-out 300ms, transform 500ms ease-in-out 300ms;
}
.onscroll-elem.in-view {
	opacity: 1;
	transform: translate3d(0,0,0);
}
.hidden {
	display: none;
}
/*****************************
*	Plugins
*****************************/
.fancybox-bg {
	background-color: #050a0d;
}
.fancybox-is-open .fancybox-bg {
	opacity: .85;
}
.fancybox-content {
	box-shadow: 0 0 150px rgba(5,10,13,0.35);
	font-size: .925em;
	width: 855px;
}
.fancybox-thumbs__list a::before {
	background-color: #050a0d;
	border: 0;
	opacity: .5;
}
.fancybox-thumbs__list a.fancybox-thumbs-active::before {
	opacity: 0;
}
.fancybox-show-thumbs .fancybox-thumbs {
	background-color: rgba(5,10,13,0.5);
}
.fancybox-content hr {
	height: 1px;
	margin: 2em -20px;
}
/*****************************
*	Tipografia
*****************************/
h1, .h1 {
	font-family: 'Crimson Text', serif;
	font-size: 70px; 
	font-weight: 400;
	line-height: 1.25;
	margin-bottom: .5em;
	margin-top: .5em;
}
h2, .h2 {
	font-family: 'Crimson Text', serif;
	font-size: 52px; 
	font-weight: 400;
	line-height: 1.25;
	margin-bottom: .5em;
	margin-top: .5em;
}
h3, .h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 40px; 
	font-weight: 300;
	line-height: 1.25;
	margin-bottom: .5em;
	margin-top: .5em;
}
h3 sup small {
	font-size: 15px;
	margin-top: 10px;
	position: absolute;
}
h4, .h4 {
	font-family: 'Raleway', sans-serif;
	font-size: 26px; 
	font-weight: 300;
	line-height: 1.25;
	margin-bottom: .5em;
	margin-top: .5em;
}
h5, .h5 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.15em; 
	font-weight: 300;
	line-height: 1.25;
	margin-bottom: .5em;
	margin-top: .5em;
}
h6, .h6 {
	color: #9eadb4;
	font-family: 'Raleway', sans-serif;
	font-size: .925rem; 
	font-weight: 700;
	line-height: 1.25;
	margin-bottom: .5em;
	margin-top: .5em;
	text-transform: uppercase;
}
h1:first-chid, .h1:first-chid,
h2:first-chid, .h2:first-chid,
h3:first-chid, .h3:first-chid,
h4:first-chid, .h4:first-chid,
h5:first-chid, .h5:first-chid,
h6:first-chid, .h6:first-chid {
	margin-top: 0;
}
h5 a {
	text-decoration: none;
}
p:last-child {
	margin-bottom: 0;
}
.alt-text,
.alt-text * {
	font-family: 'Crimson Text', serif;
}
.alt-text {
	font-size: 1.25em;
}
.poem-title {
	font-size: 1em;
	position: relative;
	z-index: 1;
}
.poem-title .line {
	color: #9eadb4;
	font-family: 'Crimson Text', serif;
	font-weight: 600;
	font-variant: small-caps;
	letter-spacing: .1em;
	margin: 1em 0 .5em;
}
.poem-title + p {
	margin-top: 0;
}
.poem-title a i {
	font-size: .5em;
}
.var-badge::before {
	background-color: #9eadb4;
	border-radius: 3px;
	content: '';
	display: inline-block;
	height: 5px;
	margin-right: 10px;
	width: 12px;
	z-index: -1;
}
.var-ms::before {
	background-color: #d95369;
}
.var-1824::before {
	background-color: #e378bf;
}
.var-1826::before {
	background-color: #8380e2;
}
.var-1831::before {
	background-color: #fdb27b;
}
.var-1835::before {
	background-color: #b3da67;
}
.var-1845::before {
	background-color: #6fbcc0;
}
[class^="py-"] h2:first-child, [class*=" py-"] h2:first-child, [class^="pt-"] h2:first-child, [class*=" pt-"] h2:first-child,
[class^="py-"] h3:first-child, [class*=" py-"] h3:first-child, [class^="pt-"] h3:first-child, [class*=" pt-"] h3:first-child,
[class^="py-"] h4:first-child, [class*=" py-"] h4:first-child, [class^="pt-"] h4:first-child, [class*=" pt-"] h4:first-child {
	margin-top: 0;
}
.underlined {
	padding-bottom: .25em;
	position: relative;
}
.underlined::after {
	background-color: #050a0d;
	bottom: -0.15em;
	content: '';
	display: block;
	height: 1px;
	left: 0;
	opacity: .25;
	position: absolute;
	width: 80px;
}
.dark-skin .underlined::after {
	background-color: #ffffff;
	opacity: .5;
}
.text-center .underlined::after {
	left: 50%;
	transform: translateX(-50%);
}
.title-hero h1 {
	font-size: 100px;
	line-height: 1;
}
#page-title h1::before {
	background-color: #9eadb4;
	content: '';
	display: inline-block;
	height: 2px;
	margin-left: calc(-21.5% - 40px);
	margin-right: 40px;
	opacity: .5;
	vertical-align: baseline;
	width: 21.5%;
}
#page-title.dark-skin h1::before {
	background-color: #ffffff;
	opacity: .2;
}
#page-title h1 + p {
	margin-top: -2em;
}
#intro h2 {
	font-size: 80px;
	line-height: 1;
}
.cite::before {
	background-color: #050a0d;
	content: '';
	display: inline-block;
	height: 2px;
	margin-right: 20px;
	opacity: .2;
	vertical-align: middle;
	width: 70px;
}
.dark-skin .cite::before {
	background-color: #ffffff;
}
/*****************************
*	UI
*****************************/
.forward {
	color: #9eadb4;
	font-weight: 700;
	font-size: .85em;
	text-decoration: none;
	text-transform: uppercase;
}
.forward::after {
	content: '\6d';
	display: inline-block;
	font-family: 'dripicons-v2';
	font-size: .875em;
	margin-left: .5em;
	vertical-align: text-top;
	text-transform: none;
	width: 1em;
}
/*****************************
*	Tags e links
*****************************/
.tag-highlight {
	text-decoration: none;
	transition: border 200ms ease-in-out 15ms;
}
.tag-highlight:hover {
	border-bottom: 1px dashed transparent !important;
}
.dark-skin .tag-highlight {
	border-bottom: 1px dashed rgba(255,255,255,0.5);
}
.light-skin .tag-highlight {
	border-bottom: 1px dashed rgba(5,10,13,0.5);
}
.persona::before {
	content: '\e056';
	display: inline-block;
	font-family: 'dripicons-v2';
	font-size: .65em;
	margin-right: .5em;
	opacity: .75;
	text-transform: none;
	width: 1em;
}
/*****************************
*	Layout pagine
*****************************/
/* Home Page */
#timeline {
	background-image: url(../images/leopardi-hero.jpg);
	background-position: 50%;
	background-repeat: no-repeat;
}
#timeline-box {
	margin-bottom: 20px;
	min-height: 380px;
	overflow: visible;
	position: relative;
	z-index: 0;
}
#timeline-box::after {
	background-color: #ffffff;
	bottom: 0;
	content: '';
	display: block;
	height: 1px;
	left: 20px;
	opacity: .5;
	position: absolute;
	right: 20px;
	z-index: -1;
}
#timeline-box .timeline-point {
	bottom: 11px;
	display: block;
	position: absolute;
	transform: translate3d(-50%, 100%, 0);
}
#timeline-box .timeline-point a {
	text-decoration: none;
}
#timeline-box .timeline-point::before {
	background-color: #ffffff;
	border-radius: 50%;
	content: '';
	display: block;
	height: 25px;
	left: calc(50% - 1px);
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: -20px;
	transition: opacity 300ms ease-in-out;
	width: 1px;
	z-index: -1;
}
#timeline-box .timeline-point.active::before {
	opacity: .5;
}
#timeline-box .timeline-point::after {
	background-color: #ffffff;
	border-radius: 50%;
	content: '';
	display: block;
	height: 9px;
	left: 50%;
	position: absolute;
	top: 6px;
	transform: translateX(-50%);
	width: 9px;
	z-index: -1;
}
#timeline-box .timeline-point a span {
	display: block;
	padding-top: 30px;
}
#timeline-box .timeline-point[data-time="start"] {
	left: 20px;
}
#timeline-box .timeline-point[data-time="end"] {
	right: 20px;
}
#timeline-box .timeline-point[data-time="1824"] {
	left: 32%
}
#timeline-box .timeline-point[data-time="1826"] {
	left: 42%
}
#timeline-box .timeline-point[data-time="1831"] {
	left: 56%
}
#timeline-box .timeline-point[data-time="1835"] {
	left: 68%;
}
#timeline-box .timeline-point[data-time="1845"] {
	right: 3%;
}
#timeline-box .box-edizione {
	bottom: 30px;
	font-size: .9em;
	position: absolute;
	z-index: 0;
}
#timeline-box .box-edizione > span {
	padding-bottom: 20px;
}
#timeline-box .box-edizione > span::after {
	background-color: #fdb27b;
	bottom: 0;
	content: '';
	display: block;
	height: 3px;
	left: 0;
	position: absolute;
	right: 0;
	z-index: -1;
}
#timeline-box .box-edizione[data-time-trigger="1824"] > span::after {
	background-color: #e378bf;
}
#timeline-box .box-edizione[data-time-trigger="1826"] > span::after {
	background-color: #8380e2;
}
#timeline-box .box-edizione[data-time-trigger="1835"] > span::after {
	background-color: #b3da67;
}
#timeline-box .box-edizione[data-time-trigger="1845"] > span::after {
	background-color: #6fbcc0;
}
#timeline-box .edizione-img {
	width: 40%;
}
#timeline-box .edizione-info {
	max-width: calc(60% - 20px);
	padding-left: 20px;
}
#timeline-box .box-edizione[data-time-trigger="1824"] {
	left: 32%;
	transform: translateX(calc(-50% + 0.5px ));
}
#timeline-box .box-edizione[data-time-trigger="1826"] {
	left: 50%;
	transform: translateX(calc(-50% + 0.5px ));
}
#timeline-box .box-edizione[data-time-trigger="1831"] {
	left: 56%;
	transform: translateX(calc(-50% + 0.5px ));
}
#timeline-box .box-edizione[data-time-trigger="1835"] {
	left: 68%;
	transform: translateX(calc(-50% + 0.5px ));
}
#timeline-box .box-edizione[data-time-trigger="1845"] {
	right: 3%;
	transform: translateX(calc( 50% + 0.5px ));
}
#progetto-desc .row {
	position: relative;
}
#recanati-biblio {
	background-image: url(../images/recanati-biblioteca.jpg);
	background-size: cover;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	bottom: 0;
	position: absolute;
	right: calc(-50vw - 20px);
	top: 0;
	width: calc(66.666667% + 50vw);
}
/* Pagine interne */
a img {
	border-radius: 3px;
	display: block;
	position: relative;
	z-index: 0;
}
#page-title {
	background-color: rgba(158, 173, 180, 0.2);
}
.lightbox a:not(.hidden) {
	display: block;
	position: relative;
}
.lightbox a::after {
	background: linear-gradient(to bottom, rgba(5,10,13,0) 1%,rgba(5,10,13,0) 14%,rgba(5,10,13,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-radius: 3px;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: opacity 200ms ease-in-out 50ms;
	width: 100%;
	z-index: 1;
}
.lightbox a::before {
	color: #ffffff;
	content: '\e068';
	font-family: 'dripicons-v2';
	left: 50%;
	opacity: 0;
	position: absolute;
	transform: translate3d(-50%, -50%, 0);
	transition: opacity 200ms ease-in-out 50ms;
	top: 50%;
	z-index: 2;
}
.lightbox a:hover::before,
.lightbox a:hover::after {
	opacity: 1;
}
#file-xml .ui i {
	font-size: .9em;
	margin-right: .5em;
	vertical-align: baseline;
}
#file-xml a.ui {
    color: #9eadb4;
    font-size: .825rem;
    font-weight: 700;
	margin: 0 .35em;
    text-decoration: none;
    text-transform: uppercase;
}
#list-canti {
	margin-top: 2em;
}
#list-canti tr td:nth-child(1),
#list-canti tr td:nth-child(4),
#list-canti tr td:last-child {
	font-size: .825em;
	line-height: 1.75rem;
	white-space: nowrap;
}
#list-canti tr td:nth-child(1) {
	color: #9eadb4;
}
#list-canti th {
	font-size: .9em;
	padding-right: 2em;
	position: sticky;
	top: 0;
	z-index: 1;
}
#list-canti th:not(.col-edizioni) {
	cursor: pointer;
}
#list-canti th:not(.col-edizioni).active::after {
	content: 'W';
	display: inline-block;
	font-family: 'dripicons-v2';
	font-size: .85em;
	margin-right: -0.5em;
	padding-left: .5em;
	width: 0;
}
#list-canti th.tablesorter-headerDesc.active::after {
	content: 'T';
}
#list-canti th.col-no,
#list-canti th.col-id {
	width: 0
}
#list-canti th.col-titolo {
	width: 100%;
}
#list-canti span[data-var-badge] {
	cursor: pointer;
}
#list-canti tr td {
	transition: opacity 200ms ease-in-out 50ms;
}
#list-canti[data-visible-tr="ms"] tr:not([data-edizione*="ms"]) td,
#list-canti[data-visible-tr="1824"] tr:not([data-edizione*="1824"]) td,
#list-canti[data-visible-tr="1826"] tr:not([data-edizione*="1826"]) td,
#list-canti[data-visible-tr="1831"] tr:not([data-edizione*="1831"]) td,
#list-canti[data-visible-tr="1835"] tr:not([data-edizione*="1835"]) td,
#list-canti[data-visible-tr="1845"] tr:not([data-edizione*="1845"]) td {
	opacity: .2;
}
#list-canti[data-visible-tr="idilli"] tr:not([data-group*="idilli"]) td,
#list-canti[data-visible-tr="canzoni"] tr:not([data-group*="canzoni"]) td,
#list-canti[data-visible-tr="grandi"] tr:not([data-group*="grandi"]) td,
#list-canti[data-visible-tr="aspasia"] tr:not([data-group*="aspasia"]) td,
#list-canti[data-visible-tr="ultimi"] tr:not([data-group*="ultimi"]) td {
	opacity: .2;
}
#list-canti[data-visible-tr="recanati"] tr:not([data-place*="recanati"]) td,
#list-canti[data-visible-tr="pisa"] tr:not([data-place*="pisa"]) td,
#list-canti[data-visible-tr="napoli"] tr:not([data-place*="napoli"]) td,
#list-canti[data-visible-tr="ferrigni"] tr:not([data-place*="ferrigni"]) td {
	opacity: .2;
}
/*****************************
*	Forms
*****************************/
form {
	width: 100%;
}
form#home-form {
	font-size: 1.1em;
	margin: 1.75em 0 1.35em;
}
.wrap-submit {
	background-color: #ffffff;
	border: 1px solid rgba(158,173,180,0.5);
	border-radius: 3px;
	display: flex;
	padding: 3px;
	width: 100%;
}
form#home-form .wrap-submit {
	box-shadow: 0 0 0 5px rgba(158,173,180,0.15);
}
.wrap-submit input[type="text"] {
	background: transparent;
	border: 0;
	color: #050a0d;
	flex: 1;
	font-family: 'Raleway', sans-serif;
	font-size: .9em;
	line-height: 2.35;
	outline: 0 !important;
	padding-right: 10px;
	text-indent: 10px;
	width: 0;
}
.wrap-submit input[type="submit"] {
	background-color: #9eadb4;
	border: 0;
	border-radius: 2px;
	color: #ffffff;
	cursor: pointer;
	font-weight: 700;
	font-size: .725rem;
	line-height: 2.35;
	outline: 0 !important;
	padding: 0 16px;
	text-decoration: none;
	text-transform: uppercase;
}
form label {
	display: block;
	padding: .5em 0;
}